#settings-positioning {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #settings-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #edit-server-content {
    margin-left: auto;
    position: absolute;
    background-color:rgb(66, 71, 78);
    width: 300px;
    height: 375px;
    border-radius: 10px;
  }