.friendlist {
    font-size: larger;
    left: 312px;
    height: 100%;
    width: 62%;
    overflow: auto;
    /* border-right: 1px solid rgba(245, 245, 245, 0.432); */
    color: rgba(245, 245, 245, 0.685);
    position: fixed;
    padding-top: 10%;
}

.friendlist div {
    width: 100%;
    text-align: left;
    margin: auto;
    padding: 20px;
    border-top: 1px solid rgba(245, 245, 245, 0.384);
}

.friendlist div:hover {
    opacity: 0.4;
}