.friendlist {
    height: 95%;
    left: 70px;
    top: 0;
    overflow: auto;
    position: fixed;
    width: 210px;
    background-color: rgb(48, 53, 58);
    color:rgba(245, 245, 245, 0.685);
}

.friendlist div {
    top: 0;
    height: 7%;
    text-align: center;
}

.friend-label {
    margin-top: 5%;
    font-weight: bold;
}