.user-info {
    bottom: 0;
    left: 70px;
    width: 210px;
    background-color: rgb(40, 44, 49);
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.user-info button {
    padding-bottom: 5%;
    color: rgba(255, 255, 255, 0.521);
    font-weight: bold;
    height: 100%;
    font-size: small;
    cursor: pointer;
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 8%;
}

.user-info button:hover {
    background-color: rgb(76, 80, 85);
}