.message{
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.message:hover {
    background-color: rgba(48, 53, 58, 0.198);

}

.message p {
    text-align: left;
}

#message-buttons{
    float: right;
    visibility: hidden;
}

.message:hover #message-buttons{
    visibility: visible;
}

#message-sender {
    color: rgb(83, 1, 1);
    font-weight: bolder;
}

#message-timestamp {
    font-size: x-small;
    color: rgba(255, 255, 255, 0.202);
    font-weight: lighter;
}

#message-body {
    font-weight: lighter;
    width: 95%;
}
