.channel-box{
    height: 100%;
    width: 55%;
    margin-left: 330px;
}

.channel-box h1{
    width: 105%;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-indent: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.229);
    padding: 7px;
    
}

#messages {
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1%;
    height: 85%;
    width: 105%;
} 

#messages::-webkit-scrollbar {
    width: 10px;
    position: sticky;
}
  
#messages::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb {
    background: rgb(30, 33, 37); 
    border-radius: 10px;
}


.channel-box form {
    width: 100%;
    margin: auto;
}

#message-input{
    width: 100%;
    padding: 10px;
    border: none;
    resize: none;
    border-radius: 10px;
    background-color: rgb(71, 78, 85);
    color: white
}

#message-input:focus {
    outline: none;
}
