.explore-page {
    height: 100%;
    width: 100%;
    background-color: rgb(66, 71, 78);
}

.explore-content{
    background-color: rgb(66, 71, 78);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    margin-left: 312px;
    width: 77%;
    position: fixed;
}

.explore-content::-webkit-scrollbar{
    display: none
}

.wallpaper-div {
    margin: auto;
    width: 90%;
    height: 50%;
    border-radius: 10px;
    background-image: url('https://miro.medium.com/max/1400/0*eByPMDyvGsPY4JKk');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.inner-wallpaper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 50%;
}

.inner-wallpaper h1, p, input{
    margin: 5px;
}

.inner-wallpaper input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none
}

.inner-wallpaper h1{
    font-size: larger;
    font-weight: bold;
    color: white
}

.inner-wallpaper p{
    font-size: small;
    font-weight: normal;
    color: white
}

.bottom-explore{
    width: 108%;
    height: 100%;
    padding: 60px;
    margin-left: -40px;
}

.bottom-explore h2 {
    color:white;
    font-size: larger;
    font-weight: bold;
}

.server-list{
    margin-top: 20px;
    width: 100%;
    height: max-content;
    border: 2px solid black;
    display:flex;
    flex-wrap: wrap;
    margin-block-start: 0em;
}