#everything {
    display: flex;
    justify-content: center;
}

.form {
    background-color: rgb(54,57,62);
    border-radius: 2%;
    width: 35%;
    color: rgba(245, 245, 245, 0.724);
    height: fit-content;
    margin: auto;
    padding: 3%;
    font-weight: bolder;
    font-size: 70%;
}

input:focus{
    outline: none
}

input {
    width: 97%;
    padding: 2%;
    color: whitesmoke;
    background-color: rgb(30, 33, 37);
    border: 2px solid rgb(30, 33, 37);
    margin-bottom: 8%;
    border-radius: 2%;
    font-size: larger;
}

ul {
    color: rgb(231, 134, 134);
    margin-bottom: 1%;
}

button {
    background-color: rgb(75,86,206);
    width: 102%;    
    padding-top: 3%;
    padding-bottom: 3%;
    color: whitesmoke;
    cursor: pointer;
    font-size: small;
}

button:hover{
    opacity: 0.9;
}

h1 {
    margin-bottom: 3%;
    text-align: center;
    font-size: 200%;
    color: whitesmoke
}

p {
    text-align: center;
    margin-bottom: 10%;
    color: rgba(255, 255, 255, 0.521);
    font-weight: bold;
}

.redirect {
    margin-top: 2%;
    text-align: left;
    font-size: small;
    margin-bottom: -3%;
}

a {
    color: rgb(0,175,244);
    text-decoration: none
}

a:hover{
    text-decoration: underline;
}

#forgotpassword {
    margin-top: -6%;
    margin-bottom: 1%;
}
