#everything {
    display: flex;
    justify-content: center;
}

.form {
    background-color: rgb(54,57,62);
    border-radius: 2%;
    width: 50%;
    color: rgba(245, 245, 245, 0.829);
    height: fit-content;
    margin: auto;
    padding: 5%;
    font-weight: bold;
    font-size: small;
}

input:focus{
    outline: none
}

input {
    width: 97%;
    padding: 2%;
    color: whitesmoke;
    background-color: rgb(30, 33, 37);
    border: 2px solid rgb(30, 33, 37);
    margin-bottom: 10%;
    border-radius: 2%;
    font-size: larger;
}

button {
    background-color: rgb(67,78,228);
    width: 102%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: whitesmoke;
}

h1 {
    margin-bottom: 3%;
    text-align: center;
    font-size: 200%;
    color: whitesmoke
}

p {
    text-align: center;
    margin-bottom: 10%;
    color: rgba(255, 255, 255, 0.521);
    font-weight: bold;
}

