.servers {
    height: 100%;
    left: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    width: 72px;
    background-color: rgb(30, 33, 37);
    align-items: center;
}

.servers::-webkit-scrollbar {
    display: none
}

#line {
    width: 30%;
}

#home-button{
    margin-top: 20%;
}

#addserver {
    font-size: xx-large;
    color:limegreen
}

#github {
    background-image: url('./github-purple.png');
    background-size: contain;
}

#linkedin {
    background-image: url('./linkedin-purple.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: 5px solid purple;
}

