.servers {
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    position: fixed;
    width: 72px;
    background-color: rgb(30, 33, 37);
    align-items: center;
}

#line {
    width: 30%;
}

#home-button{
    margin-top: 20%;
}